---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-8 py-2 px-4 md:mb-1 rounded-md bg-white dark:bg-black dark:text-gray-50">
        <Item post={post} />
      </li>
    ))
  }
</ul>
