---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import { getEntryBySlug } from 'astro:content';
// import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/data';

import { MetaSEO } from '~/types';
import { CollectionEntry } from 'astro:content';
import TOCList from '../components/blog/TOCList.astro'

export interface Props {
  meta?: MetaSEO;
}

export interface Params {
  slug: CollectionEntry<'post'>['slug']
}

const { meta } = Astro.props;

const chapter = await getEntryBySlug('post', Astro.params.blog)
const { headings } = await chapter?.render()
---


<Layout {meta}>
  <!-- <Announcement /> -->
  <Header { ...headerData }/>

  <aside class="fixed inset-y-0 right-0 top-16 bottom-auto pr-10 w-96 z-auto h-screen transition-transform  -translate-x-0 invisible lg:translate-x-30 lg:visible">
    <nav class="sticky min-h-fit max-h-96 bg-white dark:bg-black dark:text-gray-50 overflow-y-auto rounded-3xl">
      <div class="p-5">
        <h2>Table of contents</h2>
        <TOCList headings={[
          ...headings
        ]} />
      </div>
    </nav>
  </aside>

  <main class="bg-blue-50 dark:bg-blue-900 dark:text-blue-50">
    <div class="lg:mr-60">
      <slot />

      <slot name="footer">
        <Footer {...footerData} />
      </slot>
    </div>
  </main>
</Layout>
